body {
  background-color: #3f7bbe;
  padding: 20px;
}

.container-fluid {
  max-width: 100%;
  margin-top: 10px;
  padding: 0px;
  background-color: #b7a6d0;
  color: #fff8e1;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 15px;
}

.form-group {
  font-size: 20px;
  margin-top: 30px;
}

#crearUsuarioForm {
  margin: 120px 40px 10px 40px;
  background-color: #6359a0;
  border-radius: 30px;
}

#usuario,
#correo,
#clave {
  width: 80%;
  margin-left: 30px;
  margin-right: 0px;
  border-radius: 30px;
  background-color: #eae9f3;
  color: rgb(8, 8, 8);
}

.btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 60px;
}
h3,
p {
  margin-top: 20px;
  text-align: center;
  font-size: medium;
  color: rgb(212, 205, 196);
}
.footer {
  background-color: black;
  margin-top: 20px;
  padding: 20px;
  .h2footer{
  font-size: 80px;
  }
  .siguenos{
  display: flex;
  justify-content: center;
  }
  .social-media-icons{
  display: flex;
  justify-content:center;
  .listaRedes{
  list-style-type: none;
  }
  .email{
  width: 50px;
  height: 50px; 
  padding: 10px;
  }
  .ws{
  width: 50px;
  height: 50px; 
  padding: 10px; 
  }
  .fb{
  width: 50px;
  height: 50px; 
  padding: 10px;
  }
  .x{
  width: 50px;
  height: 50px; 
  padding: 10px;
  }
  .inst{
  width: 50px;
  height: 50px; 
  padding: 10px;
  }
  }  
  }