@media (max-width: 992px) {
    }
@media (min-width: 993px) and (max-width: 1200px) {
   }
@media (min-width: 1201px) {
    }
body {
    background-color: #dc6620;
    font-size: 14px;
}
header {
    background-color: #dc6620;
    text-align: center;
    font-size: 10px;
    color: rgb(245, 230, 227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    background-color: #b7a6d0;
    color: #FFF8E1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
}